.dialogs {
   display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
      padding: 10px;
}

.dialogItem .active {
     color: white;
}
.messages{
    padding: 10px;
    color: azure;
}
.addMess {
    margin-top: 30px;

}
